.header {
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo-menu {
  gap: 72px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  align-items: center;
  padding: 5px;
  text-decoration: none;
}

.menuContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  align-items: center;
  padding: 5px;
  text-decoration: none;
}

.menuText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 12px;
  color: #c4c4c4;

}

.aside {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}