body {
  background: #1f1f1f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.architecture-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 320px;
  align-items: center;
  gap: 4px;
}

.frame-container {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  background-color: #141415;
}

.img {
  width: 64px;
  height: 64px;
  background-size: cover;
}

.text-wrapper {
  flex: 1;
  font-family: "Pretendard-Regular", Helvetica;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.architecture {
  background-image: url(/src/assets/images/architecture.png);
}

.building {
  background-image: url(/src/assets/images/building.png);
}

.graphics {
  background-image: url(/src/assets/images/graphics.png);
}

.climatology {
  background-image: url(/src/assets/images/climatology.png);
}
