body {
  background: #1f1f1f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  width: 100%;
  gap: 4px;
}

li {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px;
  align-items: center;
  gap: 20px;
  background-color: #141415;
}

img {
  width: 64px;
  height: 64px;
  background-size: cover;
}

.architecture-text {
  flex: 1;
  font-family: "Pretendard-Regular", Helvetica;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
